<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<div ng-app="Organizer_App" class="container" ng-controller="MainController">
  <table class="table table-striped table-bordered">
    <tr>
      <td>Date & Time</td>
      <td>
        <input type="datetime-local"
               ng-model="item.id"
               [name="string"]
               [min="string"]
               [max="string"]
               [ng-min=""]
               [ng-max=""]
               [required="string"]
               [ng-required="string"]
               [ng-change="string"]></td>
    </tr>
    <tr>
      <td>Event Name</td>
      <td>
        <input type="text" class="form-control" ng-model="item.name" /></td>
    </tr>

    <tr>
      <td class="text-right" colspan="2">
        <button ng-click="addItem(item)" class="btn btn-primary">
          Add
        </button>
      </td>
    </tr>
  </table>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Date & Time</th>
      <th>Event Name</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
      <td>
        <input type="datetime-local"
               ng-model="item.id"
               [name="string"]
               [min="string"]
               [max="string"]
               [ng-min=""]
               [ng-max=""]
               [required="string"]
               [ng-required="string"]
               [ng-change="string"]>
      </td>
      <td>
        <span ng-hide="editMode">{{item.name}}</span>
        <input type="text" ng-show="editMode" ng-model="item.name" />
      </td>
      <td>
        <i ng-hide="editMode" ng-click="editMode = true; editItem(item)" class="glyphicon glyphicon-edit"></i>
        <i class="glyphicon glyphicon-saved" ng-show="editMode" ng-click="editMode = false"></i>
      </td>
      <td>
        <i ng-click="removeItem($index)" class="glyphicon glyphicon-trash"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="Controllers/MainController.js"></script>
<script src="core/version/version.js"></script>
<script src="core/version/version-directive.js"></script>
<script src="core/version/interpolate-filter.js"></script>
</body>
</html>
